.articleList {
  margin: 30px 0 0;
  padding: 0;
  list-style: none;
}

.articleListItem {
  margin-bottom: 30px;
}

.articleListItem::after {
  content: '';
  display: flex;
  background: #999;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 2px;
  margin: 30px auto;
  opacity: 0.25;
  border-radius: 1px;
}

.articleListItem:last-child::after {
  content: none;
}