.articleList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.articleListItem {
  position: relative;
  margin-bottom: 30px;
}

.articleListItem::after {
  content: '';
  display: flex;
  background: #999;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 2px;
  margin: 30px auto;
  opacity: 0.25;
  border-radius: 1px;
}

.articleListItem:last-child::after {
  content: none;
}

.articleListItem [data-selected-lang='ru-RU'] [lang='en-US'],
.articleListItem [data-selected-lang='en-US'] [lang='ru-RU'] {
  display: none;
}

.articleListItemLangs {
  float: right;
  margin-left: 10px;
}

.articleListLanguageSwitch {
  border: 0 none;
  background-color: #ddd;
  color: #373f49;
  padding: 0 5px;
  font-size: 10px;
  line-height: 20px;
  box-sizing: border-box;
  cursor: pointer;
  outline: 0 none;
}

.articleListLanguageSwitch:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.articleListLanguageSwitch:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.articleListLanguageSwitch.activeLang {
  background-color: #373f49;
  color: #fff;
}

.articleLocalizedGroup {
  padding: 0;
  list-style-type: none;
}

@media (min-width: 768px) {
  .articleListItemLangs {
    float: none;
    margin-left: 0;
    position: absolute;
    left: -10px;
    transform: translateX(-100%);
    line-height: 26px;
  }
}
