.previewTitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 21px;
  text-shadow: 1px 1px 0 #EAEAEA;
}

.previewTitle:before {
  content: "§";
  margin-right: 5px;
  color: #CCC;
  text-shadow: none;
}

.previewTitleLink {
  text-decoration: none;
}

.articleMeta {
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 2;
}

.articleDate {
  font-size: 12px;
}

.articlePreview {
  font-size: 15px;
}

.tag {
  color: #A0A0A0;
  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
  line-height: 1;
  font-size: 10px;
}

.tag:before {
  content: "#";
}