@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/avenir-400.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  background: #FFF;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 21px;
  font-weight: 400;
}

h2,
h3 {
  font-size: 18px;
  font-weight: 400;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 10vmin);
  max-width: 640px;
  
  margin: 10px auto 0;
  padding: 0 0 5vmin;
}

.section-headline {
  margin: 0;
  text-shadow: 1px 1px 0 #EAEAEA;
}

.section-headline:before {
  content: "§";
  margin-right: 5px;
  color: #CCC;
  text-shadow: none;
}

.section-date {
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 2;
}

/**
 * article grid
 */
.article-list {
  margin: 30px 0 0;
  padding: 0;
  list-style: none;
}

.article-list  > li {
  margin-bottom: 30px;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}
