body {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  background: #FFF;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 21px;
  font-weight: 400;
}

h2,
h3 {
  font-size: 18px;
  font-weight: 400;
}

a {
  color: currentColor;
  transition: text-decoration-color, color 0.2s ease-in-out;
}

a:hover,
a:active {
  color: #d0037e;
  text-decoration-color: #ffc8e9;
}

code {
  background: #eaeaea;
  padding: 2px 5px;
  border-radius: 3px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 10vmin);
  max-width: 640px;
  min-height: 100vh;
  margin: 0 auto;
}

.layout-content {
  flex-grow: 1;
}